html{
  overflow-y:scroll;
}

.cards_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1rem 0;
  }

  .card {
    background-color: var(--glass);;
    -webkit-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
    border-radius: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: start;
    width: 20rem;
    height: auto;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin: 1rem;
    transition: .5s;
    overflow: hidden;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
  }
  
  .card__header {
    position: relative;  
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;  
  }
  
  .card__header .top__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 1rem 1rem 0 0;
  }
  
  .top__icon {
      position: absolute;
      bottom: 1rem;
      left: 0.3rem;  
      margin: 0 0.5rem;
      padding: 0.3rem;
      height: 2rem;
    }
  
  .card__body .card__title {
    font-size: 1.2em;
    line-height: 1.375em;
    color: var(--white);
    font-weight: 400;
    text-transform: capitalize;
    vertical-align: middle;
    display: table-cell;
    height: 3rem;
    vertical-align: middle;
  }
  
  .card__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
    top: -10px;
  }

.card:hover {
    box-shadow: var(--shadow);
}

.top__img {
    height: 20rem;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.top__img img {
    width: 100%;
    display: block;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.card:hover .top__img {
    height: 130px;
}

  .card__body {
    position: relative;
    height: 3rem;
    padding: 1rem;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.card:hover .card__body {
    height: 350px;
}

.card:hover .card__title{
  color: var(--lightorange);
}

.card:hover {
  background-color: var(--grey);
  color: var(--white);
}

a:hover {
  text-decoration: none;
}

.card__description {
    position: absolute;
    top: 5rem;
    left: 0;
    margin: 0;
    padding: 1rem;
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.card:hover .card__description {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

svg{
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;
}

.filter{
  background-color: var(--glass);
  padding: 0.2rem 1rem;
  border-radius: 1.5rem;
}

.filterbutton{
  text-decoration: none;
  border: none;
  display:inline-flex;
  background-color: var(--glass);
  color: var(--white);
  text-align: center;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 0.75rem;
  user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none;
  margin: 0.75rem 0.1em;
  font-size: medium;
  transition: all 0.1s;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.filterbutton:hover{
  background-color: var(--grey);
  transition: all 0.1s;
}

.filterbutton:disabled{
  background-color: var(--orange);
  transition: all 0.5s;
}