body{
    margin: 2em 5em;
}

#deliverable1 { grid-area: deliverable1; }
#deliverable2 { grid-area: deliverable2; }
#deliverable3 { grid-area: deliverable3; }
#deliverable4 { grid-area: deliverable4; }
#readingGuide { grid-area: readingGuide; }
#alldeliverables { grid-area: alldeliverables; }
#aboutMe { grid-area: aboutMe; }

.home-container{
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: grid;
    grid-template-areas:    "deliverable1 deliverable1 deliverable2 deliverable2 readingGuide"
                            "deliverable1 deliverable1 deliverable2 deliverable2 aboutMe"
                            "alldeliverables deliverable3 deliverable3 deliverable4 deliverable4";
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 4rem calc(47vh - 6rem) calc(47vh - 2rem);
    grid-gap: 1.5rem;
}

.home-container-item{
    position: relative;
    border-radius: 1.5rem;
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.home-container-item:hover{
    -webkit-transform: scale(98%);
    transform: scale(98%);
    transition: all 0.5s;
}

.home-container-item img{
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
       filter: var(--gray);
       -webkit-filter: grayscale(1);
}

.home-container-item img:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    transition: all 0.5s;
}

.text-block{
    position: relative;
    bottom: 5.5rem;
    padding-left: 2rem;
    color: white;
    pointer-events: none;
}

.text-block h1, h3{
    color: white;
    margin: 0;
}

.text-block p{
    margin: 0;
}

#alldeliverables{
    background-color: var(--orange);
}

#alldeliverables h1{
    font-size: 1.6em;
    padding: 1rem;
    color: white;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text-block-aboutMe{
    bottom: 8.5rem;
}

#text-block-aboutMe h3{
    margin-bottom: 1rem;
}

#orangeBtn{
    background-color: var(--grey);
    color: var(--white);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}

a:hover{
    text-decoration: none;
}

@media only screen and (max-width: 1250px) {
    body{
        margin: 2em 5em;
    }

    .home-container{
        grid-template-areas:    "deliverable1 deliverable1 deliverable1 readingGuide readingGuide"
                                "deliverable1 deliverable1 deliverable1 aboutMe aboutMe"
                                "deliverable2 deliverable2 deliverable2 aboutMe aboutMe"
                                "alldeliverables alldeliverables deliverable3 deliverable3 deliverable3"
                                "alldeliverables alldeliverables deliverable4 deliverable4 deliverable4";
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 4rem calc(20vh - 4rem) 20vh 20vh 20vh;
        grid-gap: 1.5rem; 
    }
  }

@media only screen and (max-width: 800px) {
    body{
        margin: 2em;
    }

    .home-container{
        grid-template-areas:    "alldeliverables readingGuide"
                                "alldeliverables aboutMe"
                                "deliverable1 deliverable1"
                                "deliverable2 deliverable2"
                                "deliverable3 deliverable3"
                                "deliverable4 deliverable4";
        grid-template-columns: 50% 50%;
        grid-template-rows: 4rem calc(47vh - 6rem) 15rem 15rem 15rem 15rem;
        grid-gap: 1.5rem;
    }
  }