h1{
    color: var(--orange);
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

h2{
    color: var(--orange);
    margin: 0;
}

#badges-container{
    margin-bottom: 1.5rem;
}
.badges{
    padding-right: 0.3rem;
    height: 1.75rem;
}

.deliverable_container{
    /* display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    container-type: inline-size;
    container-name: maincontainer; */
    display: grid;
    gap: 1em;
}

/* .deliverable_img{
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 2rem;
    margin: 1rem 0 1rem 0;
} */

@media only screen and (max-width: 900px) {
    .deliverable_container{
        grid-template-columns: 1fr;
    }
  }